body
{
    background-color: #344a72;
    font-family: 'Roboto', sans-serif;
}
.form-registro
{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
p
{
    text-align: center;
    padding-top: 15px;
}
form
{
    width: 300px;
    margin-left: 20px;
}
form input
{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
button
{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}


